### Lists
Lists contain comma separated values enclosed in square brackets

In [1]:
#Create
mycolors = ["Blue", "Red", "Yellow", "Brown"]

#display
mycolors

['Blue', 'Red', 'Yellow', 'Brown']

#### Indexing
- Accessing values in a list positionally
- Python uses a zero-based indexing format

In [3]:
#retrieve the first item in the list mycolors
mycolors[0]

'Blue'

In [4]:
#class activity: retrieve the last item in the list mycolors
mycolors[3]

'Brown'

In [6]:
#create list of 10 random numbers
mynum = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [13]:
#Index with a range
#Retrieve the first five items in the list mynum
mynum[0:5]

[100, 90, 80, 70, 60]

Note: When indexing with a range, the value in the upper boundary position is excluded

#### Class Activity: Create a list of 7 random names and extract the last four items in the list

In [15]:
RandomNames = ["Avinash", "sam", "Roy", "Simi", "Thota", "Ram", "Tom"]

RandomNames[3:7]

['Simi', 'Thota', 'Ram', 'Tom']

In [16]:
#create a list of 7 random names
mynames = ["Tima", "Nicole", "Lena", "Oscar", "Hammed", "Jay", "Aisha"]

#display
mynames[3:7]

['Oscar', 'Hammed', 'Jay', 'Aisha']

#### List Functions

In [23]:
#create list of 10 random numbers
mynum = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [24]:
#Len: Retrieves the number of items in a list
len(mynum)

10

In [25]:
#Max: Retrieves the largest value in a list
max(mynum)

100

In [26]:
#Min: Retrieves the smallest value in a list
min(mynum)

10

In [27]:
#Append: Add new item to an already existing list
mynum.append(1)

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 1]

In [28]:
#check minimum value after appending a new number
min(mynum)

1

In [29]:
#Remove: Deletes item from an already existing list
mynum.remove(1)

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [32]:
#Sort a list
mynum.sort(reverse = False) #True = descending, False = Ascending

mynum

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### Class activity: Create a list of five random numbers, using functions: Get the difference between the largest and smallest value divided by the lenght of the list

In [34]:
num = [10, 20, 30, 40, 50]

#Get the max, min and lenght values from the list
a = max(num)
b = min(num)
c = len(num)

#Compute
(a-b)/c

8.0

#### Tuples
    They are similar to lists but with two major differences
    1. They created with round brackets or parenthesis
    2. They are immutable/unchangeable: update/add, remove or sort is not allowed in any way or form

In [40]:
#create a tuple of colors
mytuple = ("Blue", "Red", "Yellow", "Brown")

mytuple

('Blue', 'Red', 'Yellow', 'Brown')

In [41]:
mytuple.append("Orange") #this is not available

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
mytuple[0]

'Blue'

#### Dictionaries
    They store data in key-value pairs
    - Dictionaries are created using the curly-braces {}

In [52]:
#Create a dictionary
mydict = {"FirstName" : "Simi", "LastName" : "Adeboye", "Location" : "Nigeria", "Zipcode" : 23401}

#display
mydict

{'FirstName': 'Simi',
 'LastName': 'Adeboye',
 'Location': 'Nigeria',
 'Zipcode': 23401}

In [44]:
#Accessing values in a dictionary
mydict["Zipcode"]

23401

In [54]:
mydict["Location"] = "China"

In [55]:
mydict

{'FirstName': 'Simi',
 'LastName': 'Adeboye',
 'Location': 'China',
 'Zipcode': 23401}

In [57]:
#update firstname
mydict["FirstName"] = "James"

mydict

{'FirstName': 'James',
 'LastName': 'Adeboye',
 'Location': 'China',
 'Zipcode': 23401}

#### Dictionary Functions

In [58]:
#len
len(mydict)

4

In [59]:
#Display all the values ONLY
mydict.values()

dict_values(['James', 'Adeboye', 'China', 23401])

In [60]:
#Display all the keys ONLY
mydict.keys()

dict_keys(['FirstName', 'LastName', 'Location', 'Zipcode'])

In [61]:
#retrieve the key-value pairs
mydict.items()

dict_items([('FirstName', 'James'), ('LastName', 'Adeboye'), ('Location', 'China'), ('Zipcode', 23401)])

In [66]:
#Accessing values in a dictionary
mydict["FirstName"]

'James'

In [65]:
#Get the corresponding value to a key
mydict.get("FirstName")

'James'

Create a python program that prompts users for a month input, and then your program returns the number of days in that month.

In [96]:
#STEP 1: Create a dictionary of month and their corresponding days
mymonth = {"January": 31,
          "February" : "28 or 29 in leap years",
          "March" : 31,
          "April" : 30,
          "May" : 31,
          "June" : 30,
          "July" : 31,
          "August" : 31,
          "September" : 30,
          "October" : 31,
          "November" : 30,
          'December' : 31}

#STEP 2: Get the user input
userinput = input("Enter a month: ")
print(userinput)
#STEP 3: Return the number of days with a fancy message - (January) has (XXX) of days
print(userinput, "has", mymonth['January'], "days")

Enter a month: January
January
January has 31 days

Enter a month: December

In [95]:
#STEP 3: Return the number of days with a fancy message - (January) has (XXX) of days
print('January', "has", mymonth['January'], "days")

January has 31 days

### For Loop
Iterates over elements/items in a data structure and executing a piece of code on each item one at a time

In [1]:
#create list of 10 random numbers
mynum = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [3]:
#Get the square root of all the values in this list
mynum[0] ** 0.5 #** is the exponential symbol

10.0

In [4]:
mynum[1] ** 0.5

9.486832980505138

In [11]:
for i in mynum:
    print(i ** 0.5)

10.0
9.486832980505138
8.94427190999916
8.366600265340756
7.745966692414834
7.0710678118654755
6.324555320336759
5.477225575051661
4.47213595499958
3.1622776601683795

In [8]:
actions = ["go", "act", "climb", "roll"]

print(actions[0] + "ing")
print(actions[1] + "ing")
print(actions[2] + "ing")
print(actions[3] + "ing")

going
acting
climbing
rolling

In [9]:
actions = ["go", "act", "climb", "roll"]

for i in actions: #actions is the data structure we want to iterate on
    print(i + "ing")

going
acting
climbing
rolling